# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Sensitive files
*.pem
*.key

# Python
__pycache__/
*.pyc
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Optional: images (if not needed)
# *.png
# *.jpg