# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
venv310/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model artifacts
models/*.pkl
models/*.joblib

# Data files (IMPORTANT)
data/*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest / coverage
.pytest_cache/
.coverage