# ------------------------------
# Secrets & Credentials
# ------------------------------
.env
*.env
*.key
*.pem
*.crt
secrets.json

# Databricks tokens / configs
.databrickscfg

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# ------------------------------
# Terraform
# ------------------------------
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# IDE / Editor
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Temporary Files
# ------------------------------
*.tmp
*.swp